In [5]:
import pandas as pd

india_weather = pd.DataFrame ({
    "city": ['a','b','c'],
    "temp": [13,22,31],
    "hum": [89, 31, 54]
})
india_weather

  city  temp  hum
0    a    13   89
1    b    22   31
2    c    31   54

In [6]:
us_weather = pd.DataFrame ({
    "city": ['z','x','v'],
    "temp": [22,12,6],
    "hum": [43, 12, 64]
})
us_weather

  city  temp  hum
0    z    22   43
1    x    12   12
2    v     6   64

In [8]:
df = pd.concat([india_weather,us_weather],ignore_index=True)
df

  city  temp  hum
0    a    13   89
1    b    22   31
2    c    31   54
3    z    22   43
4    x    12   12
5    v     6   64

In [9]:
df = pd.concat([india_weather,us_weather],keys=['india','us'])
df

        city  temp  hum
india 0    a    13   89
      1    b    22   31
      2    c    31   54
us    0    z    22   43
      1    x    12   12
      2    v     6   64

In [11]:
df.loc['india']

  city  temp  hum
0    a    13   89
1    b    22   31
2    c    31   54

In [12]:
#df = pd.concat([...]) axis=1 for appending as columns
#index =[0,1,2] (in a dataframe)
#index=[1,2]

In [ ]:
s = pd.Series(['Rain'event)